* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frame {
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.slider {
  display: flex;
  width: auto;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.switch-icon {
  width: 50px;
}

.image-carousel {
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: 1fr 20px;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-nav {
  grid-column: 2/3;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-top: 0;
}

.nav-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
